.sidebarChat{
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor:pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    
    
}
.roomName{
    position: relative;
    left: 60px;
    top:-20px;
}
.message{
    position: relative;
    left: 60px;
    top:-20px;
}
/* .sidebarChat_info > h2{
    position: absolute;
    left: 20px;
    top : 0px;
}
*/
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact:hover{
    background-color: #ebebeb;
    border: 1px solid black;
    border-radius: 20px;
}
.sidebarChat_info{
   position: absolute;
    
} 